body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: grey
}

.navbar {
    width: 100%;
    height: 120px;
    box-shadow: 0 30px 30px -30px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center; 
}

.navbar img {
    height: 80px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px); /* Drei Spalten */
    grid-template-rows: repeat(3, 100px); /* Drei Zeilen */
    gap: 5px; /* Abstand zwischen den Feldern */
    margin: 20px auto; /* Zentriert das Spielfeld horizontal */
    width: max-content;
}

.field {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    font-size: 24px;
    cursor: pointer;
    user-select: none; /* Verhindert das Markieren von Text beim Klicken */
}

.field:hover {
    background-color: #e4e4e4; /* Farbänderung beim Überfahren mit der Maus */
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.choice-button {
    border: none;
    background-color: #f0f0f0; /* Identisch zu den Feldern */
    cursor: pointer;
    border-radius: 50%; /* Macht die Buttons rund */
    width: 100px; /* Festgelegte Breite für runde Form */
    height: 100px; /* Festgelegte Höhe für runde Form */
    display: flex;
    align-items: center; /* Zentriert das Bild vertikal */
    justify-content: center; /* Zentriert das Bild horizontal */
}

.choice-button:hover {
    background-color: #e4e4e4; /* Hover Effekt wie bei den Feldern */
}

.choice-button.active {
    box-shadow: 0px 0px 30px 1px rgba(0,0,0,0.5);
}

.button-container img {
    width: 80px; /* Breite des Bildes */
    height: 80px; /* Höhe des Bildes */
}

.winner {
    background-color: rgb(204, 255, 204); /* Hervorhebung der Gewinnerfelder */
}

.loser {
    background-color: rgb(255, 189, 189); /* Hervorhebung der Gewinnerfelder */
}

.playAgain {
    width: 300px;
    background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:26px;
    border: none;
	display:inline-block;
	cursor:pointer;
	color:#4e4e4e;
	font-family:Verdana;
	font-size:26px;
	padding:18px 30px;
	text-decoration:none;
    cursor: pointer;
}

.d-none {
    display: none;
}
